body {  
 background-color: #282731;
 margin: 0px;
 font-family: verdana;
}

nav {
position: relative;
height: 140px;
 width: 100%;
 margin-top: -15px;
 background-color: #282731; 
 color: #138900;
 }
.menu {
 position:relative;
 width: 100%;
 height: 40px;
 background-color: #282731;
 color: #827da0;
}
nav ul{
 padding: 15px 20px 15px 10px;
 }
 
nav ul li{
 display: inline;
 font-size: 24px;
 padding: 0px 5px 0px 10px;
 }
 nav ul div{
 display: inline;
 font-size: 24px;
 padding: 0px 5px 0px 10px;
 }

#account{
	color: #8a87a0;
}

#content{
 margin-top: -15px;
 position: relative;
 height: 800px;
 } 
 
#map{
 position: relative;
 float:left;
 width: 100%;
 height: 100%;
 }
 
#map iframe{
 width:100%;
 height:100%
 }
 
#discussion {
 color: #282731;
 position: relative;
 float: left;
 width: 0%;
 height: 100%;
 background-color: #8a87a0; 
 overflow: scroll;
}

#discussion h2 {
 text-align: center;
 font-size: 30px;
 }
 
#newsFeed {
 color: #282731;
 float: right;
 width: 0%;
 height: 100%;
 background-color: #8a87a0; 
 overflow: scroll;
 }
 
#newsFeed h2 {
 text-align: center;
 font-size: 30px;
 }

 #storyForm {
 	display: inherit;
 }
 
.article{
 border-top: 2px solid #282731;
 font-size: 18px;
 }
 
.article li.title{
 font-size: 25px;
 }
 
.file_menu {
    display:none;
    width:300px;
    border: 1px solid #1c1c1c;
}

.file_menu li {
    background-color: #302f2f;
}

.file_menu li a {
    color:#FFFFFF;
    text-decoration:none;
    display:inline;
}

.file_menu li a:hover {
    font-weight:bold;
    color: #8a87a0;
}

.topic_menu{
	position:absolute;
    display:inline;
    width:100%;
    list-style:none;
   
}

.topic_menu li a {
    color:#827da0;
    font-size:14pt;
    text-decoration:none;
    display:inline-block;
}

.topic_menu li a:hover {
    font-weight:bold;
    color: #8a87a0;
}
.location_menu{
    position:absolute;
    display:inline;
    width:100%;
    list-style:none;
}
.location_menu li a {
	color:#827da0;
    font-size:14pt;
    text-decoration:none;
    display:inline-block;
}
.location_menu li a:hover {
    font-weight:bold;
    color: #8a87a0;
}

.newspaper_menu{
    position:absolute;
    display:inline;
    width:100%;
    list-style:none;
}
.newspaper_menu li a {
    color:#827da0;
    font-size:14pt;
    text-decoration:none;
    display:inline-block;
}
.newspaper_menu li a:hover {
    font-weight:bold;
    color: #8a87a0;
}
.viewed_menu{
    position:absolute;
    display:inline;
    width:100%;
    list-style:none;
}
.viewed_menu li a {
    color:#827da0;
    font-size:14pt;
    text-decoration:none;
    display:inline-block;
}
.viewed_menu li a:hover {
    font-weight:bold;
    color: #8a87a0;
}
.recent_menu{
    position:absolute;
    display:inline;
    width:100%;
    list-style:none;
}
.recent_menu li a {
    color:#827da0;
    font-size:14pt;
    text-decoration:none;
    display:inline-block;
}
.recent_menu li a:hover {
    font-weight:bold;
    color: #8a87a0;
}
.favorite_menu{
    position:absolute;
    display:inline;
    width:100%;
    list-style:none;
}
.favorite_menu li a {
    color:#827da0;
    font-size:14pt;
    text-decoration:none;
    display:inline-block;
}
.favorite_menu li a:hover {
    font-weight:bold;
    color: #8a87a0;
}
.login_menu{
    position:absolute;
    display:inline;
    width:100%;
    list-style:none;
}
.login_menu li a {
    color:#827da0;
    font-size:14pt;
    text-decoration:none;
    display:inline-block;
}
.login_menu li a:hover {
    font-weight:bold;
 	color: #8a87a0;
}
